{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <form method="post" class="flex justify-center">
            <div>
                <h1 class="text-5xl font-bold mb-5">{{ "login.title" | trans }}</h1>

                {% if error %}
                    {{ include('components/alert/_danger.html.twig', {title: error.messageKey|trans(error.messageData, 'security')} ) }}
                {% endif %}
                <div class="mb-3">
                    {{ include('components/input/_input.html.twig', { id: 'username', name: '_username', type: 'email', label: 'user.email'}) }}
                </div>
                <div class="mb-3">
                    {{ include('components/input/_input.html.twig', { id: 'password', name: '_password', type: 'password', label: 'user.password'}) }}
                </div>
                {{ include('components/button/_submit.html.twig', {label: 'login.submit'}) }}
                <div class="mt-3">
                    {{ 'login.no_account' | trans }}
                    {{ include('components/link/simple-link.html.twig', { text: 'login.go_to_register', url: 'register' }) }}
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input type="hidden" name="_target_path" value="/">
        </form>
    </div>
{% endblock %}
